*{
padding:0px;
margin: 0px;
}
/* =========================== */
nav{
	position: fixed;
	margin: auto;
	width: 500px;
	left: 0px;
	right: 0px;
	top: 40px;
}
nav ul {
	position: absolute;
	display: inline-flex;
	list-style: none;
}
nav ul li{
	margin-right: 30px;
	font-style: none;
}
nav ul li a{
	color: #fff;
	text-decoration: none;
}
header{
	position: absolute;
}
div.social {
	position: absolute;
	left: 1100px;
	top: 60px;
}
div.social ul {
	display: inline-flex;
	list-style: none;
	width: 200px;
}
[class^="icon-"], [class*=" icon-"] {
	color: #fff;
}
/* =========================== ESTILO GENERAL */
h1{
	font-size: 40px !important;
	color: #fff;
	padding-top: 200px !important;
	padding-left: 100px !important;
	background: url(../img/barra-verde.png)no-repeat 75px 185px;
	height: 79px;
	-webkit-transform: rotate(-10deg);
}
h2 {
	color: #fff;
	margin-left: 180px !important;
	margin-top: 10px !important;
}
p {
	color: #fff;
	margin-left: 210px !important;
	padding-bottom: 60px !important;
}
/* =========================== BE TEC */
section#be_tec{
	background: url(../img/back-be-tec.png)no-repeat;
	width: 100%;
	height: auto;
	background-size: cover;
}
/* =========================== AGENDA */
section#agenda{
	background: url(../img/back-actividades.png)no-repeat;
	width: 100%;
	height: auto;
	background-size: cover;
/* =========================== ACTIVIDADES */
section#actividades{
	background: url(../img/back-actividades.png)no-repeat;
	width: 100%;
	height: auto;
	background-size: cover;
}