* {
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  height: 100%;
}
nav {
  position: fixed;
  margin: auto;
  width: 500px;
  left: 0px;
  right: 0px;
  top: 40px;
}
nav ul {
  position: absolute;
  display: inline-flex;
  list-style: none;
}
nav ul li {
  margin-right: 30px;
  font-style: none;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
}
header {
  position: absolute;
}
div.social {
  position: absolute;
  left: 1100px;
  top: 60px;
}
div.social ul {
  display: inline-flex;
  list-style: none;
  width: 200px;
}
[class^="icon-"],
[class*=" icon-"] {
  color: #fff;
}
figure {
  position: fixed;
}
/* =========================== ESTILO GENERAL */
h1 {
  position: absolute;
  font-size: 40px;
  color: #fff;
  transform: rotate(-3deg);
  display: block;
}
h2 {
  color: #fff;
  margin-left: 180px;
  padding-top: 250px;
  font-size: 20px;
}
p {
  color: #fff;
}
article {
  position: relative;
}
/* =========================== BE TEC */
section#be_tec {
/*background: url(../img/back-be-tec.png)no-repeat;*/
  background: url("../img/filtro-rosa.png") no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}
section#be_tec h1 {
  top: 180px;
  background: #97ea3d;
  padding: 10px;
  left: 100px;
}
section#be_tec p {
  margin-left: 210px;
  margin-bottom: 10px;
}
/* =========================== ACTIVIDADES */
section#actividades {
/*background: url(../img/back-actividades.png)no-repeat;*/
  background: url("../img/filtro-verde.png") no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}
section#actividades h1 {
  top: 175px;
  background: #00bbf2;
  padding: 10px;
  left: 100px;
}
section#actividades p {
  margin-left: 210px;
  margin-bottom: 10px;
}
section#actividades div.container12 {
  margin-left: 200px;
  font-size: 14px;
}
section#actividades div.container12 .column3 {
  width: 180px;
  padding-top: 10px;
}
section#actividades div.container12 .column3 p.col {
  margin: 0px !important;
}
/* =========================== AGENDA */
section#agenda {
/*background: url(../img/back-agenda.png)no-repeat;*/
  background: url("../img/filtro-morado.png") no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}
section#agenda h1 {
  top: 180px;
  background: #f20000;
  padding: 10px;
  left: 100px;
}
section#agenda p {
  margin-left: 210px;
  margin-bottom: 10px;
}
/* =========================== SEDE */
section#sede {
/*background: url(../img/back-sede.png)no-repeat;*/
  background: url("../img/filtro-azul.png") no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}
section#sede h1 {
  top: 180px;
  background: #97ea3d;
  padding: 10px;
  left: 100px;
}
section#sede h2 {
  color: #fff;
  margin-left: 100px !important;
  padding-top: 255px !important;
}
section#sede p {
  margin-left: 210px;
  margin-bottom: 10px;
}
section#sede div.image {
  position: relative;
  margin-top: 262px;
}
section#sede img.uno {
  position: absolute;
  width: 20%;
  right: 150px;
  bottom: 20px;
}
section#sede img.dos {
  width: 10%;
  position: absolute;
  bottom: 300px;
  right: 494px;
}
section#sede img.tres {
  position: absolute;
  width: 15%;
  bottom: 117px;
  right: 485px;
}
section#sede img.cuatro {
  position: absolute;
  right: 278px;
  bottom: 369px;
}
section#sede img.cinco {
  position: absolute;
  right: 393px;
  bottom: 109px;
}
section#sede img.seis {
  width: 11%;
  position: absolute;
  bottom: 262px;
  right: 195px;
}
section#sede img.siete {
  width: 15%;
  position: absolute;
  bottom: 206px;
  right: 324px;
}
/* =========================== REGISTRATE */
section#registrate {
/*background: url(../img/back-registrate.png)no-repeat;*/
  background: url("../img/filtro-rojo.png") no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}
section#registrate h1 {
  top: 180px;
  background: #32dafe;
  padding: 10px;
  left: 100px;
}
section#registrate p {
  margin-left: 210px;
  margin-bottom: 10px;
}
section#registrate div.container12 {
  margin-left: 200px;
  font-size: 14px;
}
section#registrate div.container12 .column3 {
  width: 180px;
  padding-top: 10px;
}
section#registrate div.container12 .column3 p {
  margin: 0px;
}
section#registrate div.container12 .column3 a {
  display: block;
  color: #fff;
  text-decoration: none;
}
/* =========================== FAQ'S */
section#faq {
/*background: url(../img/back-faqs.png)no-repeat;*/
  background: url("../img/filtro-rosa.png") no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}
section#faq h1 {
  top: 180px;
  background: #fbc549;
  padding: 10px;
  left: 100px;
}
section#faq div.texto {
  position: relative;
  padding-top: 260px;
  text-align: center;
  margin-right: 110px;
}
section#faq div {
  padding-top: 0px;
}
section#faq p.bold {
  font-weight: bold;
}
section#faq p {
  margin-left: 110px;
  margin-bottom: 10px;
}
section#faq span {
  font-weight: bold;
}
section#faq div.container12 {
  margin-left: 200px;
  font-size: 14px;
}
section#faq div.container12 .column6 {
  width: 323px;
  padding-left: 65px;
  padding-top: 10px;
}
section#faq div.container12 .column6 a.escribenos {
  background: url("../img/escribenos.png") no-repeat;
  height: 68px;
  width: 290px;
  display: block;
  padding-left: 62px;
  padding-top: 13px;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  margin-left: 60px;
}
section#faq div.container12 .column6 a {
  background: url("../img/llamanos.png") no-repeat;
  height: 68px;
  width: 290px;
  display: block;
  padding-left: 47px;
  padding-top: 13px;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  margin-left: -60px;
}
section#faq div.container12 .column6 p {
  margin: 0px;
}
/* =========================== AVISO LEGAL */
section#aviso_legal {
/*background: url(../img/back-aviso.png)no-repeat;*/
  background: url("../img/filtro-amarillo.png") no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}
section#aviso_legal h1 {
  top: 180px;
  background: #7338b6;
  padding: 10px;
  left: 100px;
}
section#aviso_legal h2.terminos {
  width: 465px;
  margin: auto;
  padding-top: 280px;
}
section#aviso_legal div {
  position: relative;
  width: 750px;
  overflow-y: scroll;
  height: 300px;
  display: inline-flex;
  margin-left: 245px;
  margin-top: 10px;
}
/* =========================== REGISTRO */
section#registro {
  background: #fff;
  width: 100%;
  height: 100%;
  background-size: cover;
}
section#registro h1 {
  top: 180px;
  background: #de3370;
  padding: 10px;
  left: 100px;
}
section#registro h2.experiencia {
  color: #727272;
  margin-left: 180px;
  padding-top: 250px;
  font-size: 20px;
}
section#registro p {
  color: #727272;
}
/* =========================== LOAD DOCUMENTS */
section#load_documents {
  background: url("../img/back-registrate.png") no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}
