*
	margin 0
	padding 0
body
html
	width: 100%;
	height: 100%;
nav
	position: fixed;
	margin: auto;
	width: 500px;
	left: 0px;
	right: 0px;
	top: 40px;
	ul
		position: absolute;
		display: inline-flex;
		list-style: none;
		li
			margin-right: 30px;
			font-style: none;
			 a
				color: #fff;
				text-decoration: none;
header
	position: absolute;
div.social 
	position: absolute;
	left: 1100px;
	top: 60px;
	ul 
		display: inline-flex;
		list-style: none;
		width: 200px;
[class^="icon-"], [class*=" icon-"] 
	color: #fff;
figure 
	position: fixed;
/* =========================== ESTILO GENERAL */
h1
	position: absolute;
	font-size: 40px;
	color: #fff;
	transform: rotate(-3deg);
	display: block;
	font-family:'Helvetica Neue';
h2 
	color: #fff;
	margin-left: 180px;
	padding-top: 250px;
	font-size: 20px;
	font-family:'Gill Sans'
	font-weight:bold;
p 
	color: #fff;
	font-family:'Gill Sans'
	font-weight:regular;
article
	position:relative;
/* =========================== BE TEC */
section#be_tec
	/*background: url(../img/back-be-tec.png)no-repeat;*/
	background: url(../img/filtro-rosa.png)no-repeat;
	width: 100%;
	height: 100%;
	background-size: cover;
	h1
		top: 180px;
		background: #97ea3d;
		padding: 10px;
		left: 100px;
	p
		margin-left: 210px;
		margin-bottom: 10px;
/* =========================== ACTIVIDADES */
section#actividades
	/*background: url(../img/back-actividades.png)no-repeat;*/
	background: url(../img/filtro-verde.png)no-repeat;
	width: 100%;
	height: 100%;
	background-size: cover;
	h1
		top: 175px;
		background: #00bbf2;
		padding: 10px;
		left: 100px;
	p
		margin-left: 210px;
		margin-bottom: 10px;
	div.container12
		margin-left: 200px;
		font-size: 14px;
		.column3 
			width: 180px;
			padding-top: 10px;
			p.col
				margin: 0px !important;

/* =========================== AGENDA */
section#agenda
	/*background: url(../img/back-agenda.png)no-repeat;*/
	background: url(../img/filtro-morado.png)no-repeat;
	width: 100%;
	height: 100%;
	background-size: cover;
	h1
		top: 180px;
		background: #f20000;
		padding: 10px;
		left: 100px;
	p
		margin-left: 210px;
		margin-bottom: 10px;
/* =========================== SEDE */
section#sede
	/*background: url(../img/back-sede.png)no-repeat;*/
	background: url(../img/filtro-azul.png)no-repeat;
	width: 100%;
	height: 100%;
	background-size: cover;
	h1
		top: 180px;
		background: #97ea3d;
		padding: 10px;
		left: 100px;
	h2 
		color: #fff;
		margin-left: 100px !important;
		padding-top: 255px !important;
	p
		margin-left: 210px;
		margin-bottom: 10px;
	div.image
		position:relative;
		margin-top: 262px;
	img.uno
		position:absolute;
		width: 20%
		right: 150px;
		bottom: 20px;
	img.dos
		width: 10%;
		position: absolute;
		bottom: 300px;
		right: 494px;
	img.tres
		position: absolute;
		width: 15%;
		bottom: 117px;
		right: 485px;
	img.cuatro
		position: absolute;
		right: 278px;
		bottom: 369px;
	img.cinco
		position: absolute;
		right: 393px;
		bottom: 109px;
	img.seis
		width: 11%;
		position: absolute;
		bottom: 262px;
		right: 195px;
	img.siete
		width: 15%;
		position: absolute;
		bottom: 206px;
		right: 324px;
/* =========================== REGISTRATE */
section#registrate
	/*background: url(../img/back-registrate.png)no-repeat;*/
	background: url(../img/filtro-rojo.png)no-repeat;
	width: 100%;
	height: 100%;
	background-size: cover;
	h1
		top: 180px;
		background: #32dafe;
		padding: 10px;
		left: 100px;
	p
		margin-left: 210px;
		margin-bottom: 10px;
	div.container12
		margin-left: 200px;
		font-size: 14px;
		.column3 
			width: 180px;
			padding-top: 10px;
			p
				margin: 0px;
			a
				display: block;
				color: #fff;
				text-decoration: none;
/* =========================== FAQ'S */
section#faq
	/*background: url(../img/back-faqs.png)no-repeat;*/
	background: url(../img/filtro-rosa.png)no-repeat;
	width: 100%;
	height: 100%;
	background-size: cover;
	h1
		top: 180px;
		background: #fbc549;
		padding: 10px;
		left: 100px;
	div.texto 
		position: relative;
		padding-top: 260px;
		text-align: center;
		margin-right: 110px;
	div
		padding-top: 0px;
	p.bold
		font-weight:bold;
	p
		margin-left: 110px;
		margin-bottom: 10px;
	span
		font-weight:bold;
	div.container12
		margin-left: 200px;
		font-size: 14px;
		.column6 
			width: 323px;
			padding-left: 65px;
			padding-top: 10px;
			a.escribenos
				background: url(../img/escribenos.png)no-repeat;
				height: 68px;
				width: 290px;
				display: block;
				padding-left: 62px;
				padding-top: 13px;
				color: #fff;
				text-decoration: none;
				font-size:13px;
				margin-left:60px;
			a
				background: url(../img/llamanos.png)no-repeat;
				height: 68px;
				width: 290px;
				display: block;
				padding-left: 47px;
				padding-top: 13px;
				color: #fff;
				text-decoration: none;
				font-size:13px;
				margin-left:-60px;
			p
				margin: 0px;
/* =========================== AVISO LEGAL */
section#aviso_legal
	/*background: url(../img/back-aviso.png)no-repeat;*/
	background: url(../img/filtro-amarillo.png)no-repeat;
	width: 100%;
	height: 100%;
	background-size: cover;
	h1
		top: 180px;
		background: #7338b6;
		padding: 10px;
		left: 100px;
	h2.terminos	
			width: 465px;
			margin: auto;
			padding-top: 280px;
	div
		position: relative;
		width: 750px;
		overflow-y: scroll;
		height: 300px;
		display: inline-flex;
		margin-left: 245px;
		margin-top: 10px;
/* =========================== REGISTRO */
section#registro
	background: #f9f9f9;
	width: 100%;
	height: auto;
	background-size: cover;
	padding-bottom: 50px;
	div.datos
		padding-top:75px;
		margin-left:-10px;
	div.container12
		margin-left: 0px;
		font-size: 16px;
		.column3 
			width: 130px;
			padding-top: 10px;
			p.col
				margin: 0px !important;
			img.lapiz
				margin-left: 25px;
				margin-top: 15px;
			img
				margin-left:50px;
				margin-top: 15px;
			p.hospedaje
				width:300px;
			input.checkbox
				width 47px
	.column3.tu
		margin-left:195px;
	h1.registro
		top: 90px;
		background: #de3370;
		padding: 10px;
		left: 200px;
	h2.experiencia 
		color: #727272;
		margin-left: 200px;
		padding-top: 166px;
		font-size: 20px;
	div.genero
		display:inline-flex;
		p
			margin-right: 60px;
	p
		color:#727272;
		margin-left: 205px;
		margin-bottom: 10px;
	li
		margin-left:200px;
		list-style:none;
		p
			margin-left:0px;
			margin-top:20px;
	input
		padding:3px;
		margin-top: 10px;
		width:255px;
	select
		width: 102px;
		background: #fff;
		margin-top: 10px;
		color:#727272;
	select.option
		width:250px;
	.column3.box
		width 15px !important;
	p.leyenda
		font-size 11px	
		width: 700px;
	.cmn-toggle {
	  position: absolute;
	  margin-left: -9999px;
	  visibility: hidden;

		.cmn-toggle + label {
		  display: block;
		  position: relative;
		  cursor: pointer;
		  outline: none;
		  user-select: none;

	 input.cmn-toggle-round + label {
	  padding: 2px;
	  width: 120px;
	  height: 60px;
	  background-color: #dddddd;
	  border-radius: 60px;

		input.cmn-toggle-round + label:before,
		input.cmn-toggle-round + label:after {
		  display: block;
		  position: absolute;
		  top: 1px;
		  left: 1px;
		  bottom: 1px;
		  content: "";

		input.cmn-toggle-round + label:before {
		  right: 1px;
		  background-color: #f1f1f1;
		  border-radius: 60px;
		  transition: background 0.4s;

		input.cmn-toggle-round + label:after {
		  width: 58px;
		  background-color: #fff;
		  border-radius: 100%;
		  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
		  transition: margin 0.4s;

		input.cmn-toggle-round:checked + label:before {
		  background-color: #8ce196;

		input.cmn-toggle-round:checked + label:after {
		  margin-left: 60px;
/* =========================== LOAD DOCUMENTS */
section#load_documents
	background: #f9f9f9;
	width: 100%;
	height: 100%;
	background-size: cover;
	border-top: 1px solid #727272;
	h1
		top: 180px;
		background: #00bbf2;
		padding: 10px;
		left: 100px;
	p
		margin-left: 210px;
		margin-bottom: 10px;