* {
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  height: 100%;
}
nav {
  position: fixed;
  margin: auto;
  width: 500px;
  left: 0px;
  right: 0px;
  top: 40px;
}
nav ul {
  position: absolute;
  display: inline-flex;
  list-style: none;
}
nav ul li {
  margin-right: 30px;
  font-style: none;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
}
header {
  position: absolute;
}
div.social {
  position: absolute;
  left: 1100px;
  top: 60px;
}
div.social ul {
  display: inline-flex;
  list-style: none;
  width: 200px;
}
[class^="icon-"],
[class*=" icon-"] {
  color: #fff;
}
figure {
  position: fixed !important;
}
/* =========================== ESTILO GENERAL */
h1 {
  position: absolute;
  font-size: 40px !important;
  color: #fff;
  -webkit-transform: rotate(-3deg);
  display: block;
}
h2 {
  color: #fff;
  margin-left: 180px !important;
  padding-top: 250px !important;
  font-size: 20px;
}
p {
  color: #fff;
  margin-left: 210px !important;
  margin-bottom: 10px !important;
}
/* =========================== BE TEC */
section#be_tec {
  background: url("../img/back-be-tec.png") no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}
section#be_tec h1 {
  top: 180px;
  background: #97ea3d;
  padding: 10px;
  left: 100px;
}
/* =========================== ACTIVIDADES */
section#actividades {
  background: url("../img/back-actividades.png") no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}
section#actividades h1 {
  top: 845px;
  background: #00bbf2;
  padding: 10px;
  left: 100px;
}
section#actividades div.container12 {
  margin-left: 200px;
  font-size: 14px;
}
section#actividades div.container12 .column3 {
  width: 180px;
  padding-top: 10px;
}
section#actividades div.container12 .column3 p.col {
  margin: 0px !important;
}
/* =========================== AGENDA */
section#agenda {
  background: url("../img/back-agenda.png") no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}
section#agenda h1 {
  top: 1515px;
  background: #f20000;
  padding: 10px;
  left: 100px;
}
/* =========================== SEDE */
section#sede {
  background: url("../img/back-sede.png") no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}
section#sede h1 {
  top: 2184px;
  background: #97ea3d;
  padding: 10px;
  left: 100px;
}
section#sede h2 {
  color: #fff;
  margin-left: 100px !important;
  padding-top: 255px !important;
}
section#sede div.image {
  position: relative;
  margin-top: 262px;
}
section#sede img.uno {
  position: absolute;
  width: 20%;
  right: 150px;
  bottom: 20px;
}
section#sede img.dos {
  width: 10%;
  position: absolute;
  bottom: 300px;
  right: 494px;
}
section#sede img.tres {
  position: absolute;
  width: 15%;
  bottom: 117px;
  right: 485px;
}
section#sede img.cuatro {
  position: absolute;
  right: 278px;
  bottom: 369px;
}
section#sede img.cinco {
  position: absolute;
  right: 393px;
  bottom: 109px;
}
section#sede img.seis {
  width: 11%;
  position: absolute;
  bottom: 262px;
  right: 195px;
}
section#sede img.siete {
  width: 15%;
  position: absolute;
  bottom: 206px;
  right: 324px;
}
/* =========================== REGISTRATE */
section#registrate {
  background: url("../img/back-registrate.png") no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}
/* =========================== FAQ'S */
section#faq {
  background: url("../img/back-faqs.png") no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}
/* =========================== AVISO LEGAL */
section#aviso_legal {
  background: url("../img/back-aviso.png") no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}
/* =========================== REGISTRO */
section#registro {
  background: url("../img/back-registrate.png") no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}
/* =========================== LOAD DOCUMENTS */
section#load_documents {
  background: url("../img/back-registrate.png") no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}
