RewriteEngine On

#Redirecciones
Redirect /registrate http://btec.mx/#registro
Redirect /que_es http://btec.mx/#que_es
Redirect /sede http://btec.mx/#sede
Redirect /actividades http://btec.mx/#actividades
Redirect /agenda http://btec.mx/#agenda
Redirect /faq http://btec.mx/#faq

#Hotlinking
#Options +FollowSymlinks
#RewriteCond %{HTTP_REFERER} !^$
#RewriteCond %{HTTP_REFERER} !^http://(www.)?btec.mx/ [nc]
#RewriteRule .*.(gif|jpg|png)$ http://btec.mx/img/badLuck.png [nc]

#Error Pages
ErrorDocument 404 /404.html

#Navigate Deny
Options All -Indexes

#Files ext
#RewriteRule ^(([^/]+/)*[^.]+)$ /$1.php [L]

#Remove www
#RewriteCond %{HTTP_HOST} ^www\.btec\.mx$ [NC]
#RewriteRule ^(.*)$ http://btec.mx/$1 [L,R=301]

#ServerMail
ServerSignature EMail
SetEnv SERVER_ADMIN support@digitaldealers.mx


#Quitar ext .php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]